body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 20px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #8884;
  box-shadow: 0 0 10px 5px #0001;
  border-radius: 10px;
  transition: all 0.3s;
}

.box:hover {
  transform: scale(1.1);
  background-color: #ff0;
}

.box.clicked {
  background-color: #0f0;
}

.box.orange {
  background-color: #f60;
}